.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 480px;
  padding: 14px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 6px;
}

.formItem {
  display: flex;
  flex-direction: column;
}

.formLabel {
  font-size: 18px;
  font-weight: 500;
}

.formField {
  font-size: 18px;
  border: 1px solid darkgray;
  border-radius: 4px;
  padding: 6px;
}

.errorMessage {
  color: red;
}

.btn {
  width: 120px;
  font-size: 18px;
  padding: 8px;
  margin: auto;
  border-radius: 6px;
  border: 1px solid;
}

.btn:hover,
.btn:focus {
  background-color: rgb(221, 220, 220);
}
