.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 480px;
  padding: 14px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 6px;
}

.formItem {
  display: flex;
  flex-direction: column;
}

.formLabel {
  font-size: 18px;
  font-weight: 500;
}

.formField {
  font-size: 18px;
  border: 1px solid darkgray;
  border-radius: 4px;
  padding: 6px;
  outline-color: transparent;
  outline-offset: 4px;
}

.formField:hover,
.formField:focus,
.formField:active {
  border: 2px solid #535bf2;
}

.errorMessage {
  color: red;
}

.btn {
  width: 120px;
  font-size: 18px;
  padding: 8px;
  margin: auto;
  border-radius: 6px;
  border: none;
  color: white;
  background: #757fec;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline-color: transparent;
  outline-offset: 4px;
}

.btn:hover,
.btn:focus {
  background: #535bf2;
}
